<div>
  myform works!
  <form [formGroup]="myForm" novalidate>
  <div class="form-group">
    <app-myinput 
      lblTxt="Naam"
      [errorInfo]="errorMap.name" 
      [formControl]="myForm.controls.name" 
      ngDefaultControl></app-myinput>
    <app-myinput 
      lblTxt="Naam 2"
      [errorInfo]="errorMap.newName" 
      [formControl]="myForm.controls.newName" 
      ngDefaultControl></app-myinput>
  </div>
  </form>

  <p>Form value: {{ myForm.value | json }}</p>
  <p>Form status: {{ myForm.status | json }}</p>
</div>
